@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Black.ttf) format('truetype');
  font-weight: 900;
}
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Bold.ttf) format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf) format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Thin.ttf) format('truetype');
  font-weight: 100;
}
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Light.ttf) format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-LightItalic.ttf) format('truetype');
  font-weight: 300;
  font-style: italic;
}